/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}
  
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: #f7f5f0;
}
/* Link Styles */

a {
  text-decoration: none;
  color: #999;
}
a:hover {
  color: #6633ff;
}

/* Section Styles */

.main-nav {
  width: 100%;
  background: black;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav .name {
    display: block;
    margin-right: auto;
    color: white;
}
.nav li {
  padding: 5px 10px 10px 10px;
}
.nav a {
  transition: all .5s;
}
.nav a:hover {
  color: white
}

header {
  text-align: center;
  background-image: url(images/BackgroundPicture.JPG);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
}
header {
  line-height: 1.5;
}
header .profile-image {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #00563f;
  transition: all .5s;
}
header .profile-image:hover {
  transform: scale(1.1) rotate(10deg);
}
.tag {
  background-color: #b1edab;
  color: #00563f;
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
  border-color: #00563f;
  border: 2.5px solid;
} 
.location {
  background-color: #b1edab;
  color: #00563f;
  border-color: #00563f;
  border: 1.5px solid
}

.interests-header {
  background-color: #8cbdee;
  color: blue;
  border-color: blue;
  border: 2.5px solid
}

.interests-b {
  background-color: #8cbdee;
  color: blue;
  border-color: blue;
  border: 1.5px solid
}

.contact-header {
  background-color: #89729e;
  color: #390464;
  border-color: #390464;
  border: 2.5px solid
}

.contact-disclaimer {
  background-color: #89729e;
  color: #390464;
  border-color: #390464;
  border: 1.5px solid
}
.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #fff;
  border: 4px solid #ccc;
  border-radius: 8px;
  transition: all .5s;
  background-color: #b1edab
}
.card:hover {
  border-color: #00563f;
}

.card-interests {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #fff;
  border: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
  background-color: #8cbdee;
}
.card-interests:hover {
  border-color: blue;
}

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #ffa6c9;
  color: #00563f;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: #ff85cf;
}

.contact {
  color: #390464;
  }

  .card-contact {
    margin: 30px;
    padding: 20px 40px 40px;
    max-width: 500px;
    text-align: left;
    background: #89729e;
    border: 4px solid #ccc;
    border-radius: 6px;
    transition: all .5s;
    background-color: #89729e;
  }
  .card-contact:hover {
    border-color:#390464;
  }  

header .interests-image {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid blue;
  transition: all .5s;
}
header .interests-image:hover {
  transform: scale(1.9) rotate(20deg);
}


header .contact-image {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid black;
  transition: all .5s;
}
header .contact-image:hover {
  transform: scale(2) rotate(70deg);
}

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}
a.twitter {
  background-image: url(images/twitter.svg);
}
a.linkedin {
  background-image: url(images/linkedin.svg);
}
a.github {
  background-image: url(images/github.svg);
}
a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {
  
  .flex {
      /* display: -ms-flexbox;      TWEENER - IE 10 */
      display: flex; 
      max-width: 1200px;
      /* -ms-flex-pack: distribute; */
      justify-content: space-around;
      margin: 0 auto;
  }

  header {
    min-height: 470px;
  }

  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }

.image-style {
  padding-top: 5px;
  padding-bottom: 22px;
}

.b-interests{
  margin-bottom: 70px;
  }

.b-summary{
    margin-top: 150px;
    font-size: 20px;
    font-weight: 800;
    text-align: left;
    }
  

ol {
margin-top: 20px;
line-height: 165%;
}

.ul-interests {
line-height: 150%;
margin-bottom: 55px; 
}

.ul-bilingual {
  line-height: 150%;
  /* margin-bottom: 5px;  */
  }

main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }

}

